/* Small Screen */
.container {
    margin: 1rem;
}

.formTitle {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #4361ee;
}

.addForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.formLeft {
    text-align: center;
    align-items: center;
}

.formRight {
    padding: 1rem;
    margin: auto 0;
    margin-bottom: 1rem;
}

.inputBox {
    border: 2px solid #4361ee;
    border-radius: 5px;
}

.formLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 5px;
}

.warning {
    color: red;
    font-weight: 100;
    font-size: small;
}

.movie__image {
    border-radius: 25px;
    max-width: 80%;
    height: auto;
    margin-top: 1rem;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
}

.submitButton {
    width: 100%;
    background-color: #4361ee;
    color: #fff;
    border: 2px solid #4361ee;
    border-radius: 5px;
}

/* Medium Screen */
@media (min-width: 768px) {
    .addForm {
        flex-direction: row;
    }

    .movie__image {
        height: auto;
        max-width: 100%;
    }

    .addForm {
        display: flex;
        gap: 5rem;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    
}